<nav class="navbar navbar-default">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Tweeter test
      </a>
    </div>

<ul class="nav navbar-nav">
    {{#link-to "tweets" tagName="li"}}
    <a href="#"><span class="glyphicon glyphicon-th-list"></span> Twees</a>
    {{/link-to}}    

    {{#link-to "starred-tweets" tagName="li"}}
    <a href="#"><span class="glyphicon glyphicon-star"></span> Starred tweets</a>
    {{/link-to}}
       
</ul>

  </div>
</nav>
{{outlet}}